{
  "name": "Umber Calm",
  "background": "{{ term.background }}",
  "foreground": "{{ term.foreground }}",
  "cursorColor": "{{ term.cursor }}",
  "selectionBackground": "{{ term.selection_bg }}",
  "black": "{{ ansi.black }}",
  "red": "{{ ansi.red }}",
  "green": "{{ ansi.green }}",
  "yellow": "{{ ansi.yellow }}",
  "blue": "{{ ansi.blue }}",
  "purple": "{{ ansi.magenta }}",
  "cyan": "{{ ansi.cyan }}",
  "white": "{{ ansi.white }}",
  "brightBlack": "{{ ansi.bright_black }}",
  "brightRed": "{{ ansi.bright_red }}",
  "brightGreen": "{{ ansi.bright_green }}",
  "brightYellow": "{{ ansi.bright_yellow }}",
  "brightBlue": "{{ ansi.bright_blue }}",
  "brightPurple": "{{ ansi.bright_magenta }}",
  "brightCyan": "{{ ansi.bright_cyan }}",
  "brightWhite": "{{ ansi.bright_white }}"
}
